<div style="text-align:center">
  <h1> Twitter Scraper </h1>
  <div class="row">
      <form class="">
        <div *ngIf="enableFailed" class="row">
          <div class="col s12">
            <h4> Authentication Failed </h4>
          </div>
        </div>
        <div *ngIf="enableSearch" class="row">
          <div class="input-field col s12">
            <input id="hashtags" type="text" [(ngModel)]="searchquery" [ngModelOptions]="{standalone: true}">
            <label for="hashtags">Search by hashtags</label>
          </div>
        </div>
        <button *ngIf="enableSearch" class="waves-effect waves-light btn" (click)="searchcall()">Search</button>
        <div *ngFor="let item of tweetsdata" class="col s12 m7">
          <div class="card">
            <div class="right-content">
              <span class="card-title">{{item.user.name}}</span>
              <div class="card-content">
                <p>{{item.text}}</p>
              </div>
              <div class="card-action">
                <a href="{{item.user.url}}" >This is a link</a>
              </div>
            </div>
          </div>
        </div>
      </form>
  </div>
</div>